#box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    background-color: cadetblue;
    height: 300px;
    width: 200px;
}

#screen {
    background-color: coral;
    grid-column: 1/5;
    grid-row: 1/2;
    border-style: solid;
    border-width: 1px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#calcs {
    background-color: cyan;
    grid-row: 1/2;
    text-align: end;
}

#answer-row {
    background-color: rgb(21, 255, 0);
    grid-row: 2/3;
    text-align: end;
    /* justify-content: flex-end;
    align-items: flex-end; */
}

#erase {
    grid-column: 1/2;
    grid-row: 2/3;
    border-style: solid;
    border-width: 1px;
    background-color: cornsilk;
}

#back {
    grid-column: 2/4;
    grid-row: 2/3;
    border-style: solid;
    border-width: 1px;
    background-color: blue;
}

#divide {
    grid-column: 4/5;
    grid-row: 2/3;
    background-color: cornsilk;
}

/* 


<div id="divide"></div>
<div id="7"></div>
<div id="8"></div>
<div id="9"></div>
<div id="multiply"></div>
<div id="4"></div>
<div id="5"></div>
<div id="6"></div>
<div id="subtract"></div>
<div id="1"></div>
<div id="2"></div>
<div id="3"></div>
<div id="add"></div>
<div id="0"></div>
<div id="switch"></div>
<div id="dot"></div>
<div id="equals"></div>   */

.button {
    border: 1px outset blue;
    background-color: lightBlue;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.button:hover {
    background-color: blue;
    color: white;
}